main{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    line-height: 2.2vh;
}
.fiche_perso{
    background-image: url('./images/fond-candid-machoire-papier.png'); 
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.fiche_perso h1{
    display: flex;
    justify-content: center;
    padding-top: 7vh;
    display: flex;
}

.fiche_perso img{
    width: 30%;
    padding-left: 70%;
    padding-top: 5%;
}
.pres{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-right: 15%;
}